body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2ca02c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.menu {
    background-color: #222;
    /* Màu đen xám */
    text-align: center;
    padding: 10px 0;
}